<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gitpromote</title>
<link href="tools/style.css" rel="stylesheet" type="text/css" />
<link href="../images/favicon.png" rel="icon" type="image/x-icon" />
<script type="text/javascript" src="tools/jquery.min.js"></script> 
<script type="text/javascript" src="tools/cufon-yui.js"></script>
<script type="text/javascript" src="tools/Abraham_Lincoln_400.font.js"></script>
<script type="text/javascript" src="tools/Inspiration_400.font.js"></script>
<script type="text/javascript" src="tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
<script type="text/javascript">
	Cufon.replace('.logo h1', {fontFamily: 'Arial'});
	Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
	Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
</script>

</head>
<body>
<div id="transy">
</div>
<div id="wrapper">
	<div class="logo"><h1>gitpromote</h1>
		<br><h2>promote your open source projects to many other people like you!</h2></div>
	<div class="content">
		<p class="big_text"><strong>we are working on something</strong> very interesting!</p>
		<p class="small_text"><strong>be notified.</strong> we just need your email address.</p>
		<div class="form">
			<div class="field_content">
				<input class="field" type="text"  />
				<input class="submit" type="button" value="" />
			</div>
		</div>
		<div class="clear"></div>
		<ul class="social">
			<li class="twitter"><a href="https://www.twitter.com/gitpromote"></a></li>
			<li class="facebook"><a href="https://github.com/login/oauth/authorize?state=gitpromote&redirect_uri=http://gitpromote.appspot.com/dev&client_id=a454ac3fef0a7cde71df&scope=user"></a></li>
		</ul>
		
	</div>
</div>
</body>
</html>
