<!DOCTYPE html>
<html>
<head>
  {% for ui in user_info %}
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/profile.css" rel="stylesheet">
  <link href="/css/custom.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/social-buttons.css">

  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script type="text/javascript">$(document).ready(function() {$("#Integrity").tooltip('hide');})</script>
  <script src="/js/bootstrap.min.js"></script>
  <script scr="/js/post.js"></script>
  <script src="/js/custom.js"></script>


  
    <link rel="stylesheet" href="/css/custom.css">


  
    
    
    
    
    
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="margin-left:160px;margin-top:-13px"class="navbar-brand" href="#"><img src="/images/logo.jpg"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li-->
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li-->
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div style="margin-left:90px"class="input-group col-xs-12">
         <span class="input-group-addon">@</span>
         <input type="text" class="form-control" placeholder="Username">

        </div>
        <!--button type="submit" class="btn btn-default">Submit</button-->
      </form>
      <ul class="nav navbar-nav" style="padding:3px;margin-left:200px">
        <ul class="nav nav-pills">
          <li><a href="http://gitpromote.appspot.com/{{ui.user_login_id}}">{{ui.fullname}}</a></li>
         <li><a href="http://gitpromote.appspot.com">Home <span class="badge">3</span></a></li>
         <li><a href="http://gitpromote.appspot.com/signout">Signout </a></li>

        </ul>
        <!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--div class="container" style="margin-top:55px">
      <div class="jumbotron">
        <div class="row">
        <div class="col-md-3 col-md-offset-1 text-center">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="dp.jpg" class="img-rounded" class="img-responsive"/>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="welcomeText heading"> Wasim Thabraze </h1>
          <br>
          <span class="label label-default">Pythonista</span>
          <span class="label label-success">Go'er</span>
        </div>
      </div>
    </div>
  </div-->

  <div class="container" style="margin-top:125px">
    <img src="/images/dp.jpg" align="left" style="margin-left:200px;margin-bottom:30px"class="img-rounded" class="img-responsive"/>
    <div class="col-md-4">
          <h1 class="welcomeText heading"> {{ui.fullname}} </h1>
          <h4>@{{ui.user_login_id}}</h4>
          <h4>Bio: Founder of gitpromote.</h4>
          <br>
          
          <span class="label label-default">Pythonista</span>
          <span class="label label-success">Go'er</span>
    </div>
  </div>
  {% endfor %}

  
  <!--div class="container" >
      <h3>About me</h3>
      <div class="jumbotron">
    <div class="row">
        <div class="col-md-8" align="justify">
          <div class="panel panel-default">
            
            <div class="panel-body">
              <h3 class="font21">
            &nbsp; &nbsp; &nbsp;I am passionate about Web Design, Graphic Design and Programming. Calling myself a Front-End Developer is what my Goal.
          </h3>
          <h3 class="font21">
            &nbsp; &nbsp; &nbsp;Doing graduation in BSc in Information Technology, Vartak College, Vasai (w). I daily dealing with web technologies like <font color="#da0e0e">HTML5</font> & <font color="#16b7da">CSS3</font>  to make vision clear.
          </h3>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">@mymahesh11 on twitter</h3>
            </div>
            <div class="panel-body">
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/mymahesh11" data-widget-id="306346770307354624">Tweets by @mymahesh11</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>
          </div>
        </div>
        
  </div>
  </div>
  
  <div class="container">
    <h3> <span class="glyphicon glyphicon-wrench"></span> Technical Skills</h3>
    <div class="jumbotron">
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading text-center">
                      <div class="panel-title">Programming Language</div>
                    </div>
                    <div class="panel-body text-center">
                      <button class="btn btn-primary">C/C++</button>
                        <button class="btn btn-primary">Visual C#</button>
                        <button class="btn btn-primary">Java</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading text-center">
                      <div class="panel-title">Markup Languages</div>
                    </div>
                    <div class="panel-body text-center">
                        <button class="btn btn-primary">HTML5</button>
                        <button class="btn btn-primary">CSS3</button>
                        <button class="btn btn-primary">Bootstrap 3.0</button>
                        <button class="btn btn-primary">XML</button>
                        <button class="btn btn-primary">jQuery</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading text-center">
                      <div class="panel-title">Web Technologies</div>
                    </div>
                    <div class="panel-body text-center">
                        <button class="btn btn-primary">PHP</button>
                        <button class="btn btn-primary">Servlet</button>
                        <button class="btn btn-primary">JSP</button>
                        <button class="btn btn-primary">ASP.NET with Visual C#</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading text-center">
                      <div class="panel-title">RDBMS</div>
                    </div>
                    <div class="panel-body text-center">
                      <button class="btn btn-primary">MySQL</button>
                      <button class="btn btn-primary">Oracle</button>
                      <button class="btn btn-primary">MS SQL Server 2005/2008 R2</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading text-center">
                      <div class="panel-title">IDE's I go through</div>
                    </div>
                    <div class="panel-body text-center">
                        <button class="btn btn-primary">NetBeans 7.2</button>
                        <button class="btn btn-primary">Adobe Dreamweaver CS6</button>
                        <button class="btn btn-primary">Microsoft Visual Studio 2010/2012/2013</button>
                        <button class="btn btn-primary">Turbo C 3.0</button>
                        <button class="btn btn-primary">Eclipse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
    <h3> <span class="glyphicon glyphicon-paperclip"></span> Projects I Completed</h3>
    <div class="jumbotron">
      <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">Vartak Integrity Website</div>
                <div class="panel-body">
                  <div class="col-lg-4">
                      <a href="http://vartakintegrity.com/" target="_blank"><img src="http://vartakintegrity.com/images/Logo/logo.png" class="img-thumbnail" /></a>
                    </div>
                    <div class="col-lg-8">
                      <h3 class="">Vartak <button class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="top" title="Integrity 2014 - Tribute to the Legends" id = "Integrity">Integrity 2014</button> Website in <button class="btn btn-lg btn-default">PHP</button> & <button class="btn btn-lg btn-default">MySQL</button></h3>
                        <div align="justify">Integrity is one of the most awaited annual technical fest held by Information Technology and Computer Science of Vidyavardhini's A.V. College of Arts, K.M.College of Commerce & E.S.Andrades College of Science.</div>
                        <a class="btn btn-primary pull-right" target="_blank" href="http://vartakintegrity.com/">Visit Project</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div-->
  <div id="projects" class="jumbotron">
      <div class="container projects">
        <h1 class="text-center custom">Projects</h1>
        {% for repo_row in repo_info | batch(3, '&nbsp;') %}
        <div class="row">
          {% for repo in repo_row %}
          <div class="col-sm-6 col-md-4 scale-projects">
            <div class="thumbnail"><a href="#"></a>
              <h2 class="custom"><a href="http://gitpromote.appspot.com/repo/{{repo.repo_name}}">{{repo.repo_name}}</a></h2>
              <h3>
              <span class="label label-warning">Python</span>
            </h3>
              <h3 class="custom-projects"> {{repo.description}} <b><a href="#">Web</a></b></h3>
            </div>
          </div>
          {% endfor %}
          <!--div class="col-sm-6 col-md-4 scale-projects">
            <div class="thumbnail"><a href="https://github.com/karan/s"></a>
              <h2 class="custom"><a href="https://github.com/karan/s">s</a></h2>
              <h3>
              <span class="label label-info">Pythonista</span>
              <span class="label label-primary">Pythonista</span>
              <span class="label label-success">Python</span>
            </h3>
              <h3 class="custom-projects">A high-performance, anonymous URL shortener built using Redis + Node.js with an API-backed design. <b><a href="http://s.goel.im/">Live Demo</a></b></h3>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 scale-projects">
            <div class="thumbnail"><a href="https://github.com/karan/s"></a>
              <h2 class="custom"><a href="https://github.com/karan/s">s</a></h2>
              <h3>
              <span class="label label-default">Python</span>
              <span class="label label-default">Python</span>
              <span class="label label-default">Python</span>
            </h3>
              <h3 class="custom-projects">A high-performance, anonymous URL shortener built using Redis + Node.js with an API-backed design. <b><a href="http://s.goel.im/">Live Demo</a></b></h3>
            </div-->

        </div>
        {% endfor %}
      </div>
    </div>

</body>
</html>