<!--Author: Wasim Thabraze-->

<html>
<head>
	<title>gitpromote</title>
</head>
<body>
	<h1 style="padding:0px;margin-left:100px;font-size:50px">Gitpromote</h1>
	<hr>
	<h3 style="margin-left:100px">Promote your open source projects to many other people like you!</h3>
	<p>Note: This app is in the initial stage of development. It may not run successfully in other browsers except Google Chrome</p>
	<h3 style="margin-left:900px">Join the growing community of github users!</h3>
	<a style="margin-left:900px"href="https://github.com/login/oauth/authorize?state=gitpromote&redirect_uri=http://gitpromote.appspot.com/dev&client_id=a454ac3fef0a7cde71df&scope=user"><img src="images/login.png" alt="Login with Github" width="230" height="60"></a>
	<h3>How gitpromote works:</h3>
	<p>1. <b>gitpromote</b> takes information about your public repositories from github and creates your profile.</p>
	<p>2. Every gitpromote user initially gets 200 points as a token of appreciation.</p>
	<p>3. A user can promote his repository to any number of people he/she wants with the cost of points which makes your repository reach more people.</p>
	<p>4. gitpromote algorithm works in such a way that it promotes the repository to the people who have got some good amount of contributions on github in the language of the repository you are promoting.</p>
	<p>5. By promoting your repository on gipromote, users like you gain the sight of your repository so that you'll have the right people to add new features and to improve the code.</p> 
	<b>So join the growing community of open source users to help others thereby helping yourself ;)</b>
	<br>
	<p style="margin-left:400px">You can <a href="mailto:waseem.tabraze@gmail.com">mail</a> me if you would like to speak to me about this project!</p>
	<p style="margin-left:520px">Copyright © 2014 Wasim Thabraze</p>
</body>
</html>